In [11]:
import sys
import django
import os
file_dir = "/Users/mirbilal/Desktop/MobCommission/commissionV2/"
if file_dir not in sys.path:
    sys.path.insert(0, file_dir)

os.environ["DJANGO_SETTINGS_MODULE"] = "commissionerv2.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true" 
django.setup()
from datetime import datetime, date
from psx import stocks, tickers
from IPython.display import display
import pandas as pd
import investpy
import yfinance as yf
from matplotlib.dates import relativedelta
from apps.environment.models import Stock
from apps.environment.models.stock import StockBuffer
from apps.environment.models.commodity import Commodity
from apps.environment.models.commodity import CommodityBuffer
import pytz
from os import environ
from math import ceil, floor
import psycopg2
import numpy as np

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
# Assuming tickers is your DataFrame


tickers_column = tickers()
# display(tickers_column)
symbols = list(tickers_column["symbol"])
names = list(tickers_column["name"])
len_syms = len(symbols)
# # print(symbols)
hundred_inds = pd.read_csv('KSE100 indx Comps - stock-exchange-kse-100pakistan.csv').to_dict(orient='records')
# print(hundred_inds)
hun_syms = {}

all_syms = {}
for ind in range(len_syms):
    all_syms[symbols[ind]] = names[ind]

the_index = 1
for hun_ind in hundred_inds:
    if hun_ind["SYMBOL"] in all_syms:
        sym_b = hun_ind["SYMBOL"]
        if sym_b not in hun_syms:
            hun_syms[sym_b] = {
                "index": the_index,
                "name": all_syms[sym_b]
            }
            the_index = the_index + 1

db_stcks = {}
all_stcks = Stock.objects.all()
max_indx = len(all_stcks)
for astck in all_stcks:
    db_stcks[astck.symbol] = astck.symbol

new_stcks_list = []
for sym_bl in hun_syms:
    if sym_bl not in db_stcks:
        sym_data = hun_syms[sym_bl]
        new_indx = sym_data["index"]
        if new_indx<=max_indx:
            new_indx = max_indx+1
        max_indx = max_indx+1
        new_stcks_list.append(
            Stock(
                index=sym_data["index"],
                symbol=sym_bl,
                name=sym_data["name"],
                type=100
            )
        )

Stock.objects.bulk_create(new_stcks_list)

In [ ]:


all_stocks = Stock.objects.all()

stock_syms = {}

for a_stock in all_stocks:
    if a_stock.symbol not in stock_syms:
        stock_syms[a_stock.symbol] = {
            "object": a_stock,
            "snapshots": {},
            "last_date": None
        }

snapshots = StockBuffer.objects.select_related("stock").all()
for snapshot in snapshots:
    snp_stck = snapshot.stock
    snp_stck_symbl = snp_stck.symbol
    if snp_stck_symbl in stock_syms:
        snp_data = stock_syms[snp_stck_symbl]
        stck_snps = snp_data["snapshots"]
        if snapshot.captured_at not in stck_snps:
            stck_snps[snapshot.captured_at.strftime('%Y-%m-%d %H:%M:%S')] = snapshot
            if not snp_data["last_date"]:
                snp_data["last_date"] = snapshot.captured_at.date()

# tst = 1
for stck_sym, stck_data in stock_syms.items():
    new_snapshots = []
    last_date: datetime = stck_data["last_date"]
    if last_date is None:
        start_from = date(2020, 1, 1)
    else:
        start_from = last_date
    print(last_date, stck_sym, start_from)
    end_date = pytz.utc.localize(datetime.now() + relativedelta(days=2)).date()
    data = stocks(stck_sym, start=start_from, end=end_date)
    data_points_len = len(data)
    stck_snpshts = stck_data["snapshots"]
    the_stock: Stock = stck_data["object"]
    last_data_point = None
    for digi in range(data_points_len):
        data_point = data.iloc[digi]
        time_point = data_point.name.to_pydatetime()
        time_point_str = data_point.name.strftime('%Y-%m-%d %H:%M:%S')
        if time_point_str not in stck_snpshts:
            zone_point_time = pytz.utc.localize(time_point)
            nw_price = data_point.Close
            if last_data_point is None:
                change = 0
            else:
                old_price = last_data_point.Close
                if old_price and old_price > 0:
                    change = (nw_price-old_price)/old_price
                else:
                    change = 0
            new_snapshots.append(StockBuffer(
                stock = the_stock,
                captured_at = zone_point_time,
                price_snapshot = nw_price,
                change = change,
                volume = data_point.Volume,
                bid_vol = 100000000,
                bid_price = nw_price,
                offer_vol = 100000000,
                offer_price = nw_price,
                open = data_point.Open,
                close = nw_price,
                high = data_point.High,
                low = data_point.Low
            ))
        last_data_point = data_point
    StockBuffer.objects.bulk_create(new_snapshots)

    # tst = tst + 1
    # if tst == 4:
    #     break

In [ ]:


all_commodities = Commodity.objects.all()

commodity_syms = {}

for a_commodity in all_commodities:
    if a_commodity.symbol not in commodity_syms:
        commodity_syms[a_commodity.symbol] = {
            "object": a_commodity,
            "snapshots": {},
            "last_date": None
        }

snapshots = CommodityBuffer.objects.select_related("commodity").all()
for snapshot in snapshots:
    snp_cmmdty = snapshot.commodity
    snp_cmmdty_symbl = snp_cmmdty.symbol
    if snp_cmmdty_symbl in commodity_syms:
        cmmdty_data = commodity_syms[snp_cmmdty_symbl]
        cmmdty_snps = cmmdty_data["snapshots"]
        if snapshot.captured_at not in cmmdty_snps:
            cmmdty_snps[snapshot.captured_at.strftime('%Y-%m-%d %H:%M:%S')] = snapshot
            if not cmmdty_data["last_date"]:
                cmmdty_data["last_date"] = snapshot.captured_at.date()

# tst = 1
for cmmdty_sym, cmmdty_data in commodity_syms.items():
    new_snapshots = []
    last_date: datetime = cmmdty_data["last_date"]
    if last_date is None:
        start_from = date(2019, 12, 30)
    else:
        start_from = date(2019, 12, 30)
        # start_from = last_date
    print(last_date, cmmdty_sym, start_from)
    end_date = pytz.utc.localize(datetime.now() + relativedelta(days=2)).date()
    data = yf.download(cmmdty_sym, start=start_from, end=end_date)
    data_points_len = len(data)
    cmmdty_snpshts = cmmdty_data["snapshots"]
    the_commodity: Commodity = cmmdty_data["object"]
    last_data_point = None
    for digi in range(data_points_len):
        data_point = data.iloc[digi]
        time_point = data_point.name.to_pydatetime()
        time_point_str = data_point.name.strftime('%Y-%m-%d %H:%M:%S')
        if time_point_str not in cmmdty_snpshts:
            zone_point_time = pytz.utc.localize(time_point)
            nw_price = data_point.Close
            if last_data_point is None:
                change = 0
            else:
                old_price = last_data_point.Close
                if old_price and old_price > 0:
                    change = (nw_price-old_price)/old_price
                else:
                    change = 0
            new_snapshots.append(CommodityBuffer(
                commodity = the_commodity,
                captured_at = zone_point_time,
                price_snapshot = nw_price,
            ))
        last_data_point = data_point
    CommodityBuffer.objects.bulk_create(new_snapshots)

    # tst = tst + 1
    # if tst == 4:
    #     break

In [32]:
starting_time_step = datetime(year=2023, month=9, day=1)

db_params = {
    'database': environ.get("POSTGRES_DB"),
    'user': environ.get("POSTGRES_USER"),
    'password': environ.get("POSTGRES_PASSWORD"),
    'host': environ.get("DB_HOST"),
    'port': environ.get("DB_PORT"),
}
env_config = {
    "db_params": db_params, 
    "max_episode_steps": 500, 
    "the_current_time_step": starting_time_step,
    "print_output": False,
    "is_test": False,
    "test_steps": 200,
    "n_step_stocks": 5,
    "n_step_cmmdties": 5,
    "preparing": True
}

In [33]:
the_current_time_step = env_config.get("the_current_time_step")
max_epi_len = 30

__last_time_step = the_current_time_step + relativedelta(days=max_epi_len)
the_current_time_step = pytz.utc.localize(datetime.strptime(str(the_current_time_step), '%Y-%m-%d %H:%M:%S'))
__last_time_step = pytz.utc.localize(datetime.strptime(str(__last_time_step), '%Y-%m-%d %H:%M:%S'))
str_time_step = str(the_current_time_step)

str_last_time_step = str(__last_time_step)
db_params = env_config.get("db_params")
db_conn = psycopg2.connect(**db_params)
cursor = db_conn.cursor()

stcks_query = """
    SELECT *
    FROM stocks
"""
cursor.execute(stcks_query)
stck_data = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
stck_df = pd.DataFrame(stck_data, columns=column_names) 
# stck_df = stck_df.to_dict(orient='records')

stcks_buffer_query = f"""
    SELECT stocks_buffers.*, stocks.index
    FROM stocks_buffers 
    JOIN stocks on stocks.id = stocks_buffers.stock_id
    WHERE 
    captured_at >= '{str_time_step}' AND captured_at <= '{str_last_time_step}'
    AND stocks.index = 4
"""
cursor.execute(stcks_buffer_query)
stcks_buffer_data = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
stcks_buffer_df = pd.DataFrame(stcks_buffer_data, columns=column_names)

# stcks_buffer_df = stcks_buffer_df.to_dict(orient='records')

cmmdties_buffer_query = f"""
    SELECT commodities_buffers.*, commodities.index
    FROM commodities_buffers 
    JOIN commodities on commodities.id = commodities_buffers.commodity_id
    WHERE 
    captured_at >= '{str_time_step}' AND captured_at <= '{str_last_time_step}'
"""
cursor.execute(cmmdties_buffer_query)
cmmdties_buffer_data = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
cmmdties_buffer_df = pd.DataFrame(cmmdties_buffer_data, columns=column_names)
# cmmdties_buffer_df = cmmdties_buffer_df.to_dict(orient='records')

cmmdties_query = """
    SELECT *
    FROM commodities
"""
cursor.execute(cmmdties_query)
cmmdties_data = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
cmmdties_df = pd.DataFrame(cmmdties_data, columns=column_names)

In [34]:


# Specify the date range
start_date = the_current_time_step
end_date = the_current_time_step + relativedelta(days=max_epi_len)

# Create a list of working days within the date range
working_days = pd.date_range(start=start_date, end=end_date, freq='B')

# Repeat rows for each index from 1 to 100
index_range = range(4, 5)

# Create a DataFrame with the specified structure
stcks_data = {'captured_at': [], 'change': [], 'index': []}

for date in working_days:
    for idx in index_range:
        stcks_data['captured_at'].append(date)
        stcks_data['change'].append(0)
        stcks_data['index'].append(idx)

stcks_working_day_df = pd.DataFrame(stcks_data)

cmmdts_data = {'captured_at': [], 'index': []}

for date in working_days:
    for idx in index_range:
        cmmdts_data['captured_at'].append(date)
        cmmdts_data['index'].append(idx)

cmmdts_working_day_df = pd.DataFrame(cmmdts_data)

# Print the resulting DataFrame

In [35]:
display(stcks_buffer_df)

,id,captured_at,price_snapshot,change,volume,bid_vol,bid_price,offer_vol,offer_price,stock_id,close,high,low,open,index
0,52652,2023-09-12 00:00:00+00:00,21255.0,-0.071834,20.0,100000000.0,21255.0,100000000.0,21255.0,4,21255.0,21255.0,21255.0,21255.0,4
1,52653,2023-09-15 00:00:00+00:00,21255.0,0.000000,60.0,100000000.0,21255.0,100000000.0,21255.0,4,21255.0,21255.0,21255.0,21255.0,4
2,52654,2023-09-21 00:00:00+00:00,20100.0,-0.054340,60.0,100000000.0,20100.0,100000000.0,20100.0,4,20100.0,20355.0,20100.0,20355.0,4
3,52655,2023-09-27 00:00:00+00:00,20550.0,0.022388,20.0,100000000.0,20550.0,100000000.0,20550.0,4,20550.0,20550.0,20550.0,20550.0,4
4,52656,2023-09-28 00:00:00+00:00,20550.0,0.000000,80.0,100000000.0,20550.0,100000000.0,20550.0,4,20550.0,20550.0,20550.0,20550.0,4

In [36]:
# id	captured_at	price_snapshot	change	volume	bid_vol	bid_price	offer_vol	offer_price	stock_id	close	high	low	open	index

stocks_fields_list = ["id", "price_snapshot", "volume", "bid_vol",	"bid_price", "offer_vol",	"offer_price",	"stock_id",	"close",	"high",	"low",	"open",]

stcks_df1 = stcks_buffer_df
stcks_df2 = stcks_working_day_df

# Merge dataframes on 'captured_at' and 'index' and keep only the rows present in stcks_df2
stcks_merged_df = pd.merge(stcks_df2, stcks_df1, on=['captured_at', 'index'], how='left', indicator=True).query('_merge == "left_only"').drop('_merge', axis=1)


stcks_concatenated_df = pd.concat([stcks_df1, stcks_merged_df], ignore_index=True)

# Print the concatenated dataframe

# Sort the DataFrame by 'index' and 'captured_at'
stcks_concatenated_df = stcks_concatenated_df.sort_values(by=['index', 'captured_at'])

# Forward fill NaN values based on 'index'

for field in stocks_fields_list:
    stcks_concatenated_df[field] = stcks_concatenated_df.groupby('index')[field].fillna(method='ffill')
    stcks_concatenated_df[field] = stcks_concatenated_df.groupby('index')[field].fillna(method='bfill')


# Display the upcaptured_atd DataFrame

stcks_concatenated_df['change'].fillna(stcks_concatenated_df['change_x'], inplace=True)

# Drop the 'change_x' column if you no longer need it
stcks_concatenated_df.drop(columns=['change_x', 'change_y'], inplace=True)
display(stcks_concatenated_df)

/var/folders/ct/fjh_5m0n2zj9r5lpl1nrd20m0000gn/T/ipykernel_61293/2518332673.py:22: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  stcks_concatenated_df[field] = stcks_concatenated_df.groupby('index')[field].fillna(method='ffill')
/var/folders/ct/fjh_5m0n2zj9r5lpl1nrd20m0000gn/T/ipykernel_61293/2518332673.py:23: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  stcks_concatenated_df[field] = stcks_concatenated_df.groupby('index')[field].fillna(method='bfill')

,id,captured_at,price_snapshot,change,volume,bid_vol,bid_price,offer_vol,offer_price,stock_id,close,high,low,open,index
5,52652.0,2023-09-01 00:00:00+00:00,21255.0,0.000000,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
6,52652.0,2023-09-04 00:00:00+00:00,21255.0,0.000000,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
7,52652.0,2023-09-05 00:00:00+00:00,21255.0,0.000000,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
8,52652.0,2023-09-06 00:00:00+00:00,21255.0,0.000000,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
9,52652.0,2023-09-07 00:00:00+00:00,21255.0,0.000000,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
10,52652.0,2023-09-08 00:00:00+00:00,21255.0,0.000000,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
11,52652.0,2023-09-11 00:00:00+00:00,21255.0,0.000000,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
0,52652.0,2023-09-12 00:00:00+00:00,21255.0,-0.071834,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
12,52652.0,2023-09-13 00:00:00+00:00,21255.0,0.000000,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
13,52652.0,2023-09-14 00:00:00+00:00,21255.0,0.000000,20.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
1,52653.0,2023-09-15 00:00:00+00:00,21255.0,0.000000,60.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
14,52653.0,2023-09-18 00:00:00+00:00,21255.0,0.000000,60.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
15,52653.0,2023-09-19 00:00:00+00:00,21255.0,0.000000,60.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
16,52653.0,2023-09-20 00:00:00+00:00,21255.0,0.000000,60.0,100000000.0,21255.0,100000000.0,21255.0,4.0,21255.0,21255.0,21255.0,21255.0,4
2,52654.0,2023-09-21 00:00:00+00:00,20100.0,-0.054340,60.0,100000000.0,20100.0,100000000.0,20100.0,4.0,20100.0,20355.0,20100.0,20355.0,4
17,52654.0,2023-09-22 00:00:00+00:00,20100.0,0.000000,60.0,100000000.0,20100.0,100000000.0,20100.0,4.0,20100.0,20355.0,20100.0,20355.0,4
18,52654.0,2023-09-25 00:00:00+00:00,20100.0,0.000000,60.0,100000000.0,20100.0,100000000.0,20100.0,4.0,20100.0,20355.0,20100.0,20355.0,4
19,52654.0,2023-09-26 00:00:00+00:00,20100.0,0.000000,60.0,100000000.0,20100.0,100000000.0,20100.0,4.0,20100.0,20355.0,20100.0,20355.0,4
3,52655.0,2023-09-27 00:00:00+00:00,20550.0,0.022388,20.0,100000000.0,20550.0,100000000.0,20550.0,4.0,20550.0,20550.0,20550.0,20550.0,4
4,52656.0,2023-09-28 00:00:00+00:00,20550.0,0.000000,80.0,100000000.0,20550.0,100000000.0,20550.0,4.0,20550.0,20550.0,20550.0,20550.0,4
20,52656.0,2023-09-29 00:00:00+00:00,20550.0,0.000000,80.0,100000000.0,20550.0,100000000.0,20550.0,4.0,20550.0,20550.0,20550.0,20550.0,4

In [37]:
# id	captured_at	price_snapshot	change	volume	bid_vol	bid_price	offer_vol	offer_price	stock_id	close	high	low	open	index

commodities_fields_list = ["id", "price_snapshot", "commodity_id"]

cmmdts_df1 = cmmdties_buffer_df
cmmdts_df2 = cmmdts_working_day_df

# Merge dataframes on 'captured_at' and 'index' and keep only the rows present in cmmdts_df2
cmmdts_merged_df = pd.merge(cmmdts_df2, cmmdts_df1, on=['captured_at', 'index'], how='left', indicator=True).query('_merge == "left_only"').drop('_merge', axis=1)


cmmdts_concatenated_df = pd.concat([cmmdts_df1, cmmdts_merged_df], ignore_index=True)

# Print the concatenated dataframe

# Sort the DataFrame by 'index' and 'captured_at'
cmmdts_concatenated_df = cmmdts_concatenated_df.sort_values(by=['index', 'captured_at'])

# Forward fill NaN values based on 'index'

for field in commodities_fields_list:
    cmmdts_concatenated_df[field] = cmmdts_concatenated_df.groupby('index')[field].fillna(method='ffill')
    cmmdts_concatenated_df[field] = cmmdts_concatenated_df.groupby('index')[field].fillna(method='bfill')


# Display the upcaptured_atd DataFrame

display(cmmdts_concatenated_df)

/var/folders/ct/fjh_5m0n2zj9r5lpl1nrd20m0000gn/T/ipykernel_61293/1537844305.py:22: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cmmdts_concatenated_df[field] = cmmdts_concatenated_df.groupby('index')[field].fillna(method='ffill')
/var/folders/ct/fjh_5m0n2zj9r5lpl1nrd20m0000gn/T/ipykernel_61293/1537844305.py:23: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cmmdts_concatenated_df[field] = cmmdts_concatenated_df.groupby('index')[field].fillna(method='bfill')

          id               captured_at  price_snapshot  commodity_id  index
0      924.0 2023-09-01 00:00:00+00:00     1939.800049           1.0      1
1      925.0 2023-09-05 00:00:00+00:00     1926.199951           1.0      1
2      926.0 2023-09-06 00:00:00+00:00     1918.099976           1.0      1
3      927.0 2023-09-07 00:00:00+00:00     1917.500000           1.0      1
4      928.0 2023-09-08 00:00:00+00:00     1918.400024           1.0      1
5      929.0 2023-09-11 00:00:00+00:00     1923.300049           1.0      1
6      930.0 2023-09-12 00:00:00+00:00     1911.300049           1.0      1
7      931.0 2023-09-13 00:00:00+00:00     1909.099976           1.0      1
8      932.0 2023-09-14 00:00:00+00:00     1910.000000           1.0      1
9      933.0 2023-09-15 00:00:00+00:00     1923.699951           1.0      1
10     934.0 2023-09-18 00:00:00+00:00     1931.500000           1.0      1
11     935.0 2023-09-19 00:00:00+00:00     1932.000000           1.0      1
12     936.0 2023-09-20 00:00:00+00:00     1945.599976           1.0      1
13     937.0 2023-09-21 00:00:00+00:00     1919.199951           1.0      1
14     938.0 2023-09-22 00:00:00+00:00     1925.400024           1.0      1
15     939.0 2023-09-25 00:00:00+00:00     1916.599976           1.0      1
16     940.0 2023-09-26 00:00:00+00:00     1900.400024           1.0      1
17     941.0 2023-09-27 00:00:00+00:00     1871.599976           1.0      1
18     942.0 2023-09-28 00:00:00+00:00     1860.400024           1.0      1
19     943.0 2023-09-29 00:00:00+00:00     1848.099976           1.0      1
20    1920.0 2023-09-01 00:00:00+00:00      567.500000           3.0      2
21    1921.0 2023-09-05 00:00:00+00:00      572.500000           3.0      2
22    1922.0 2023-09-06 00:00:00+00:00      581.000000           3.0      2
23    1923.0 2023-09-07 00:00:00+00:00      571.500000           3.0      2
24    1924.0 2023-09-08 00:00:00+00:00      567.250000           3.0      2
25    1925.0 2023-09-11 00:00:00+00:00      556.000000           3.0      2
26    1926.0 2023-09-12 00:00:00+00:00      560.250000           3.0      2
27    1927.0 2023-09-13 00:00:00+00:00      569.000000           3.0      2
28    1928.0 2023-09-14 00:00:00+00:00      567.500000           3.0      2
29    1929.0 2023-09-15 00:00:00+00:00      604.250000           3.0      2
30    1930.0 2023-09-18 00:00:00+00:00      591.250000           3.0      2
31    1931.0 2023-09-19 00:00:00+00:00      584.000000           3.0      2
32    1932.0 2023-09-20 00:00:00+00:00      588.750000           3.0      2
33    1933.0 2023-09-21 00:00:00+00:00      575.750000           3.0      2
34    1934.0 2023-09-22 00:00:00+00:00      579.500000           3.0      2
35    1935.0 2023-09-25 00:00:00+00:00      589.000000           3.0      2
36    1936.0 2023-09-26 00:00:00+00:00      589.000000           3.0      2
37    1937.0 2023-09-27 00:00:00+00:00      579.500000           3.0      2
38    1938.0 2023-09-28 00:00:00+00:00      578.750000           3.0      2
39    1939.0 2023-09-29 00:00:00+00:00      541.500000           3.0      2
40    2914.0 2023-09-01 00:00:00+00:00     1664.500000           4.0      3
41    2915.0 2023-09-05 00:00:00+00:00     1686.000000           4.0      3
42    2916.0 2023-09-06 00:00:00+00:00     1675.000000           4.0      3
43    2917.0 2023-09-07 00:00:00+00:00     1625.500000           4.0      3
44    2918.0 2023-09-08 00:00:00+00:00     1610.000000           4.0      3
45    2919.0 2023-09-11 00:00:00+00:00     1581.500000           4.0      3
46    2920.0 2023-09-12 00:00:00+00:00     1581.000000           4.0      3
47    2921.0 2023-09-13 00:00:00+00:00     1612.000000           4.0      3
48    2922.0 2023-09-14 00:00:00+00:00     1646.000000           4.0      3
49    2923.0 2023-09-15 00:00:00+00:00     1621.500000           4.0      3
50    2924.0 2023-09-18 00:00:00+00:00     1601.500000           4.0      3
51    2925.0 2023-09-19 00:00:00+00:00     1603.000000           4.0      3
52    2926.0 2023-09-20 00:00:00+00:00     1596.000000           4.0      3
53    2927.0 2023-09-21 00:00:00+00:00     1579.500000           4.0      3
54    2928.0 2023-09-22 00:00:00+00:00     1582.500000           4.0      3
55    2929.0 2023-09-25 00:00:00+00:00     1585.000000           4.0      3
56    2930.0 2023-09-26 00:00:00+00:00     1619.000000           4.0      3
57    2931.0 2023-09-27 00:00:00+00:00     1617.500000           4.0      3
58    2932.0 2023-09-28 00:00:00+00:00     1613.000000           4.0      3
59    2933.0 2023-09-29 00:00:00+00:00     1591.000000           4.0      3
60    3908.0 2023-09-01 00:00:00+00:00       25.809999           5.0      4
281   3908.0 2023-09-04 00:00:00+00:00       25.809999           5.0      4
61    3909.0 2023-09-05 00:00:00+00:00       26.650000           5.0      4
62    3910.0 2023-09-06 00:00:00+00:00       26.219999           5.0      4
63    3911.0 2023-09-07 00:00:00+00:00       26.680000           5.0      4
64    3912.0 2023-09-08 00:00:00+00:00       26.309999           5.0      4
65    3913.0 2023-09-11 00:00:00+00:00       26.400000           5.0      4
66    3914.0 2023-09-12 00:00:00+00:00       26.830000           5.0      4
67    3915.0 2023-09-13 00:00:00+00:00       26.540001           5.0      4
68    3916.0 2023-09-14 00:00:00+00:00       26.980000           5.0      4
69    3917.0 2023-09-15 00:00:00+00:00       26.910000           5.0      4
70    3918.0 2023-09-18 00:00:00+00:00       27.110001           5.0      4
71    3919.0 2023-09-19 00:00:00+00:00       27.440001           5.0      4
72    3920.0 2023-09-20 00:00:00+00:00       26.790001           5.0      4
73    3921.0 2023-09-21 00:00:00+00:00       26.930000           5.0      4
74    3922.0 2023-09-22 00:00:00+00:00       26.969999           5.0      4
75    3923.0 2023-09-25 00:00:00+00:00       26.309999           5.0      4
76    3924.0 2023-09-26 00:00:00+00:00       26.020000           5.0      4
77    3925.0 2023-09-27 00:00:00+00:00       26.129999           5.0      4
78    3926.0 2023-09-28 00:00:00+00:00       26.730000           5.0      4
79    3927.0 2023-09-29 00:00:00+00:00       26.270000           5.0      4
80    4903.0 2023-09-01 00:00:00+00:00      150.949997           6.0      5
81    4904.0 2023-09-05 00:00:00+00:00      151.399994           6.0      5
82    4905.0 2023-09-06 00:00:00+00:00      151.750000           6.0      5
83    4906.0 2023-09-07 00:00:00+00:00      147.399994           6.0      5
84    4907.0 2023-09-08 00:00:00+00:00      146.250000           6.0      5
85    4908.0 2023-09-11 00:00:00+00:00      151.550003           6.0      5
86    4909.0 2023-09-12 00:00:00+00:00      150.699997           6.0      5
87    4910.0 2023-09-13 00:00:00+00:00      151.050003           6.0      5
88    4911.0 2023-09-14 00:00:00+00:00      153.100006           6.0      5
89    4912.0 2023-09-15 00:00:00+00:00      158.250000           6.0      5
90    4913.0 2023-09-18 00:00:00+00:00      158.699997           6.0      5
91    4914.0 2023-09-19 00:00:00+00:00      167.500000           6.0      5
92    4915.0 2023-09-20 00:00:00+00:00      158.199997           6.0      5
93    4916.0 2023-09-21 00:00:00+00:00      154.850006           6.0      5
94    4917.0 2023-09-22 00:00:00+00:00      151.149994           6.0      5
95    4918.0 2023-09-25 00:00:00+00:00      148.800003           6.0      5
96    4919.0 2023-09-26 00:00:00+00:00      150.850006           6.0      5
97    4920.0 2023-09-27 00:00:00+00:00      149.250000           6.0      5
98    4921.0 2023-09-28 00:00:00+00:00      147.199997           6.0      5
99    4922.0 2023-09-29 00:00:00+00:00      146.149994           6.0      5
100   5898.0 2023-09-01 00:00:00+00:00       24.232000           7.0      6
101   5899.0 2023-09-05 00:00:00+00:00       23.558001           7.0      6
102   5900.0 2023-09-06 00:00:00+00:00       23.205999           7.0      6
103   5901.0 2023-09-07 00:00:00+00:00       22.950001           7.0      6
104   5902.0 2023-09-08 00:00:00+00:00       22.892000           7.0      6
105   5903.0 2023-09-11 00:00:00+00:00       23.103001           7.0      6
106   5904.0 2023-09-12 00:00:00+00:00       23.127001           7.0      6
107   5905.0 2023-09-13 00:00:00+00:00       22.912001           7.0      6
108   5906.0 2023-09-14 00:00:00+00:00       22.747999           7.0      6
109   5907.0 2023-09-15 00:00:00+00:00       23.125999           7.0      6
110   5908.0 2023-09-18 00:00:00+00:00       23.232000           7.0      6
111   5909.0 2023-09-19 00:00:00+00:00       23.194000           7.0      6
112   5910.0 2023-09-20 00:00:00+00:00       23.579000           7.0      6
113   5911.0 2023-09-21 00:00:00+00:00       23.444000           7.0      6
114   5912.0 2023-09-22 00:00:00+00:00       23.596001           7.0      6
115   5913.0 2023-09-25 00:00:00+00:00       23.145000           7.0      6
116   5914.0 2023-09-26 00:00:00+00:00       22.950001           7.0      6
117   5915.0 2023-09-27 00:00:00+00:00       22.476999           7.0      6
118   5916.0 2023-09-28 00:00:00+00:00       22.514999           7.0      6
119   5917.0 2023-09-29 00:00:00+00:00       22.236000           7.0      6
120   6892.0 2023-09-01 00:00:00+00:00      118.190002           8.0      7
121   6893.0 2023-09-05 00:00:00+00:00      117.129997           8.0      7
122   6894.0 2023-09-06 00:00:00+00:00      118.970001           8.0      7
123   6895.0 2023-09-07 00:00:00+00:00      117.400002           8.0      7
124   6896.0 2023-09-08 00:00:00+00:00      116.900002           8.0      7
125   6897.0 2023-09-11 00:00:00+00:00      118.230003           8.0      7
126   6898.0 2023-09-12 00:00:00+00:00      120.330002           8.0      7
127   6899.0 2023-09-13 00:00:00+00:00      120.529999           8.0      7
128   6900.0 2023-09-14 00:00:00+00:00      120.559998           8.0      7
129   6901.0 2023-09-15 00:00:00+00:00      121.290001           8.0      7
130   6902.0 2023-09-18 00:00:00+00:00      122.199997           8.0      7
131   6903.0 2023-09-19 00:00:00+00:00      122.160004           8.0      7
132   6904.0 2023-09-20 00:00:00+00:00      121.830002           8.0      7
133   6905.0 2023-09-21 00:00:00+00:00      121.690002           8.0      7
134   6906.0 2023-09-22 00:00:00+00:00      121.330002           8.0      7
135   6907.0 2023-09-25 00:00:00+00:00      121.180000           8.0      7
136   6908.0 2023-09-26 00:00:00+00:00      120.930000           8.0      7
137   6909.0 2023-09-27 00:00:00+00:00      120.839996           8.0      7
138   6910.0 2023-09-28 00:00:00+00:00      120.839996           8.0      7
139   6911.0 2023-09-29 00:00:00+00:00      120.790001           8.0      7
140   7885.0 2023-09-01 00:00:00+00:00        3.812500           9.0      8
141   7886.0 2023-09-05 00:00:00+00:00        3.811000           9.0      8
142   7887.0 2023-09-06 00:00:00+00:00        3.748500           9.0      8
143   7888.0 2023-09-07 00:00:00+00:00        3.726000           9.0      8
144   7889.0 2023-09-08 00:00:00+00:00        3.680500           9.0      8
145   7890.0 2023-09-11 00:00:00+00:00        3.770000           9.0      8
146   7891.0 2023-09-12 00:00:00+00:00        3.752000           9.0      8
147   7892.0 2023-09-13 00:00:00+00:00        3.756000           9.0      8
148   7893.0 2023-09-14 00:00:00+00:00        3.782500           9.0      8
149   7894.0 2023-09-15 00:00:00+00:00        3.763500           9.0      8
150   7895.0 2023-09-18 00:00:00+00:00        3.741500           9.0      8
151   7896.0 2023-09-19 00:00:00+00:00        3.714000           9.0      8
152   7897.0 2023-09-20 00:00:00+00:00        3.746500           9.0      8
153   7898.0 2023-09-21 00:00:00+00:00        3.666500           9.0      8
154   7899.0 2023-09-22 00:00:00+00:00        3.665500           9.0      8
155   7900.0 2023-09-25 00:00:00+00:00        3.649500           9.0      8
156   7901.0 2023-09-26 00:00:00+00:00        3.625000           9.0      8
157   7902.0 2023-09-27 00:00:00+00:00        3.627000           9.0      8
158   7903.0 2023-09-28 00:00:00+00:00        3.694500           9.0      8
159   7904.0 2023-09-29 00:00:00+00:00        3.726000           9.0      8
160   8880.0 2023-09-01 00:00:00+00:00     2216.250000          10.0      9
161   8881.0 2023-09-05 00:00:00+00:00     2180.000000          10.0      9
162   8882.0 2023-09-06 00:00:00+00:00     2175.500000          10.0      9
163   8883.0 2023-09-07 00:00:00+00:00     2171.250000          10.0      9
164   8884.0 2023-09-08 00:00:00+00:00     2154.750000          10.0      9
165   8885.0 2023-09-11 00:00:00+00:00     2179.250000          10.0      9
166   8886.0 2023-09-12 00:00:00+00:00     2192.250000          10.0      9
167   8887.0 2023-09-13 00:00:00+00:00     2201.250000          10.0      9
168   8888.0 2023-09-14 00:00:00+00:00     2202.250000          10.0      9
169   8889.0 2023-09-15 00:00:00+00:00     2167.250000          10.0      9
170   8890.0 2023-09-18 00:00:00+00:00     2202.000000          10.0      9
171   8891.0 2023-09-19 00:00:00+00:00     2188.750000          10.0      9
172   8892.0 2023-09-20 00:00:00+00:00     2236.000000          10.0      9
173   8893.0 2023-09-21 00:00:00+00:00     2188.750000          10.0      9
174   8894.0 2023-09-22 00:00:00+00:00     2215.500000          10.0      9
175   8895.0 2023-09-25 00:00:00+00:00     2209.000000          10.0      9
176   8896.0 2023-09-26 00:00:00+00:00     2228.250000          10.0      9
177   8897.0 2023-09-27 00:00:00+00:00     2232.750000          10.0      9
178   8898.0 2023-09-28 00:00:00+00:00     2271.750000          10.0      9
179   8899.0 2023-09-29 00:00:00+00:00     2329.500000          10.0      9
180   9871.0 2023-09-01 00:00:00+00:00       88.550003          11.0     10
181   9872.0 2023-09-05 00:00:00+00:00       90.040001          11.0     10
182   9873.0 2023-09-06 00:00:00+00:00       90.599998          11.0     10
183   9874.0 2023-09-07 00:00:00+00:00       89.919998          11.0     10
184   9875.0 2023-09-08 00:00:00+00:00       90.650002          11.0     10
185   9876.0 2023-09-11 00:00:00+00:00       90.639999          11.0     10
186   9877.0 2023-09-12 00:00:00+00:00       92.059998          11.0     10
187   9878.0 2023-09-13 00:00:00+00:00       91.879997          11.0     10
188   9879.0 2023-09-14 00:00:00+00:00       93.699997          11.0     10
189   9880.0 2023-09-15 00:00:00+00:00       93.930000          11.0     10
190   9881.0 2023-09-18 00:00:00+00:00       94.430000          11.0     10
191   9882.0 2023-09-19 00:00:00+00:00       94.339996          11.0     10
192   9883.0 2023-09-20 00:00:00+00:00       93.529999          11.0     10
193   9884.0 2023-09-21 00:00:00+00:00       93.300003          11.0     10
194   9885.0 2023-09-22 00:00:00+00:00       93.269997          11.0     10
195   9886.0 2023-09-25 00:00:00+00:00       93.290001          11.0     10
196   9887.0 2023-09-26 00:00:00+00:00       93.959999          11.0     10
197   9888.0 2023-09-27 00:00:00+00:00       96.550003          11.0     10
198   9889.0 2023-09-28 00:00:00+00:00       95.379997          11.0     10
199   9890.0 2023-09-29 00:00:00+00:00       95.309998          11.0     10
200  10858.0 2023-09-01 00:00:00+00:00      116.650002          12.0     11
201  10859.0 2023-09-05 00:00:00+00:00      119.000000          12.0     11
202  10860.0 2023-09-06 00:00:00+00:00      116.150002          12.0     11
203  10861.0 2023-09-07 00:00:00+00:00      116.250000          12.0     11
204  10862.0 2023-09-08 00:00:00+00:00      116.150002          12.0     11
205  10863.0 2023-09-11 00:00:00+00:00      117.750000          12.0     11
206  10864.0 2023-09-12 00:00:00+00:00      118.349998          12.0     11
207  10865.0 2023-09-13 00:00:00+00:00      119.599998          12.0     11
208  10866.0 2023-09-14 00:00:00+00:00      120.599998          12.0     11
209  10867.0 2023-09-15 00:00:00+00:00      120.849998          12.0     11
210  10868.0 2023-09-18 00:00:00+00:00      121.500000          12.0     11
211  10869.0 2023-09-19 00:00:00+00:00      122.500000          12.0     11
212  10870.0 2023-09-20 00:00:00+00:00      122.500000          12.0     11
213  10871.0 2023-09-21 00:00:00+00:00      121.650002          12.0     11
214  10872.0 2023-09-22 00:00:00+00:00      122.150002          12.0     11
215  10873.0 2023-09-25 00:00:00+00:00      123.000000          12.0     11
216  10874.0 2023-09-26 00:00:00+00:00      123.000000          12.0     11
217  10875.0 2023-09-27 00:00:00+00:00      122.650002          12.0     11
218  10876.0 2023-09-28 00:00:00+00:00      122.650002          12.0     11
219  10877.0 2023-09-29 00:00:00+00:00      123.320000          12.0     11
220  11851.0 2023-09-01 00:00:00+00:00        2.765000          13.0     12
221  11852.0 2023-09-05 00:00:00+00:00        2.582000          13.0     12
222  11853.0 2023-09-06 00:00:00+00:00        2.510000          13.0     12
223  11854.0 2023-09-07 00:00:00+00:00        2.579000          13.0     12
224  11855.0 2023-09-08 00:00:00+00:00        2.605000          13.0     12
225  11856.0 2023-09-11 00:00:00+00:00        2.608000          13.0     12
226  11857.0 2023-09-12 00:00:00+00:00        2.743000          13.0     12
227  11858.0 2023-09-13 00:00:00+00:00        2.680000          13.0     12
228  11859.0 2023-09-14 00:00:00+00:00        2.708000          13.0     12
229  11860.0 2023-09-15 00:00:00+00:00        2.644000          13.0     12
230  11861.0 2023-09-18 00:00:00+00:00        2.728000          13.0     12
231  11862.0 2023-09-19 00:00:00+00:00        2.848000          13.0     12
232  11863.0 2023-09-20 00:00:00+00:00        2.733000          13.0     12
233  11864.0 2023-09-21 00:00:00+00:00        2.610000          13.0     12
234  11865.0 2023-09-22 00:00:00+00:00        2.637000          13.0     12
235  11866.0 2023-09-25 00:00:00+00:00        2.639000          13.0     12
236  11867.0 2023-09-26 00:00:00+00:00        2.656000          13.0     12
237  11868.0 2023-09-27 00:00:00+00:00        2.764000          13.0     12
238  11869.0 2023-09-28 00:00:00+00:00        2.945000          13.0     12
239  11870.0 2023-09-29 00:00:00+00:00        2.929000          13.0     12
240  12846.0 2023-09-01 00:00:00+00:00       89.610001          14.0     13
241  12847.0 2023-09-05 00:00:00+00:00       88.000000          14.0     13
242  12848.0 2023-09-06 00:00:00+00:00       86.000000          14.0     13
243  12849.0 2023-09-07 00:00:00+00:00       83.620003          14.0     13
244  12850.0 2023-09-08 00:00:00+00:00       84.410004          14.0     13
245  12851.0 2023-09-11 00:00:00+00:00       86.970001          14.0     13
246  12852.0 2023-09-12 00:00:00+00:00       87.489998          14.0     13
247  12853.0 2023-09-13 00:00:00+00:00       85.669998          14.0     13
248  12854.0 2023-09-14 00:00:00+00:00       86.470001          14.0     13
249  12855.0 2023-09-15 00:00:00+00:00       85.389999          14.0     13
250  12856.0 2023-09-18 00:00:00+00:00       85.540001          14.0     13
251  12857.0 2023-09-19 00:00:00+00:00       86.059998          14.0     13
252  12858.0 2023-09-20 00:00:00+00:00       85.370003          14.0     13
253  12859.0 2023-09-21 00:00:00+00:00       84.870003          14.0     13
254  12860.0 2023-09-22 00:00:00+00:00       84.040001          14.0     13
255  12861.0 2023-09-25 00:00:00+00:00       86.419998          14.0     13
256  12862.0 2023-09-26 00:00:00+00:00       88.180000          14.0     13
257  12863.0 2023-09-27 00:00:00+00:00       88.400002          14.0     13
258  12864.0 2023-09-28 00:00:00+00:00       88.730003          14.0     13
259  12865.0 2023-09-29 00:00:00+00:00       86.860001          14.0     13
260  13875.0 2023-09-01 00:00:00+00:00      305.055145          15.0     14

In [ ]:
# Sample data for illustration
data1 = {'date': ['2023-01-01', '2023-01-06', '2023-01-02', '2023-01-03'],
         'id': [1, 1, 2, 3],
         'value': ['A', "Yo", 'B', 'C'],
         'valuea': ['a', "y", 'b', 'c'],
         'change': [1,2,3,4],
         }
df1 = pd.DataFrame(data1)

data2 = {'date': ['2023-01-01', '2023-01-04', '2023-01-04', '2023-01-03'],
         'id': [1, 1, 2, 3],
         'change': [0,0,0,0],
         }
df2 = pd.DataFrame(data2)

# Merge dataframes on 'date' and 'id' and keep only the rows present in df2
merged_df = pd.merge(df2, df1, on=['date', 'id'], how='left', indicator=True).query('_merge == "left_only"').drop('_merge', axis=1)


concatenated_df = pd.concat([df1, merged_df], ignore_index=True)

# Print the concatenated dataframe

# Sort the DataFrame by 'id' and 'date'
concatenated_df = concatenated_df.sort_values(by=['id', 'date'])

# Forward fill NaN values based on 'id'
concatenated_df['value'] = concatenated_df.groupby('id')['value'].fillna(method='ffill')
concatenated_df['value'] = concatenated_df.groupby('id')['value'].fillna(method='bfill')

concatenated_df['valuea'] = concatenated_df.groupby('id')['valuea'].fillna(method='ffill')
concatenated_df['valuea'] = concatenated_df.groupby('id')['valuea'].fillna(method='bfill')

# Display the updated DataFrame

concatenated_df['change'].fillna(concatenated_df['change_x'], inplace=True)

# Drop the 'change_x' column if you no longer need it
concatenated_df.drop(columns=['change_x', 'change_y'], inplace=True)
print(concatenated_df)

In [ ]:
for dyIndx in range(1,3):
    print(dyIndx)

In [13]:
start_from = date(2023, 1, 1)
end_date = date(2023, 2, 1)
data = stocks("AIRLINK", start=start_from, end=end_date)
display(data)

Downloading AIRLINK's Data: 100%|| 2/2 [00:02<00:00,  1.02s/it]

             Open   High    Low  Close    Volume
Date
2023-01-02  29.00  29.49  28.51  28.88   88500.0
2023-01-03  28.51  28.51  26.80  26.92  427500.0
2023-01-04  27.20  27.20  26.56  26.86   68500.0
2023-01-05  26.72  27.23  26.60  26.76  432000.0
2023-01-06  26.31  27.18  25.81  25.99  129000.0
2023-01-09  25.87  25.87  25.26  25.36   60000.0
2023-01-10  26.24  26.24  25.42  25.57   74500.0
2023-01-11  25.51  25.60  25.26  25.28   43000.0
2023-01-12  25.46  26.00  25.35  25.39  111500.0
2023-01-13  25.10  25.19  24.66  24.78   27000.0
2023-01-16  24.88  24.88  23.62  24.01  208500.0
2023-01-17  24.03  24.28  22.21  22.22  638000.0
2023-01-18  22.63  22.63  21.00  21.35  104500.0
2023-01-19  21.27  22.75  21.25  22.49  580000.0
2023-01-20  22.37  22.99  21.30  22.01  686000.0
2023-01-23  21.03  21.50  20.65  21.32   31000.0
2023-01-24  21.94  21.94  21.30  21.49  117500.0
2023-01-25  21.50  22.50  21.50  21.91  303500.0
2023-01-26  22.80  23.55  22.15  23.55  367000.0
2023-01-27  24.00  24.35  22.75  22.78  580000.0
2023-01-30  23.69  24.48  22.75  22.87  263000.0
2023-01-31  23.30  24.58  23.29  23.69  338500.0
2023-02-01  23.88  24.39  23.45  23.51   52000.0